body {
  /*min-height: 2000px;*/
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(231, 209, 185);
}
div.header  {/* Definicoes do cabeçalho ( barra superior laranja) - todas as paginas*/
background-color: #e4801e;
color: white;
height: 100px;

}
div.container_header{
  padding-top: 15px;
  padding-bottom: 15px;
}

.curso_nome{/* Definicoes do nome do curso - todas as paginas*/
	color:white;
	position: relative;
	border: 0px solid green;
	text-align: center;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	left: 0px;
	top: 0px;
	}
.do.navbar-static-top, .dropdown-menu, .navbar {/* Definições linha de navegação*/
  background-color:rgb(93, 98, 102);
  color: white;
}
.navbar-default { /* Borda linha navegação dispositivos com tela grande */
  border-color:#b7b7b7;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form { /* Borda linha navegação dispositivos pequenos (toggle)*/
    border-color: #e7e7e7;
    box-shadow: #e7e7e7;
}

.navbar-default .navbar-nav>li>a { /* Definições fonte itens da da barra de navegação dispositivo grande*/
    font-size: 15px;
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { /* Definição fonte itens barra de navegação selecionados*/
    color: black;
    background-color: #b7b7b7;

}
.nav_menu_itens{
	position:relative;
	width: 111px;
	text-align: center;
}
.nav_menu_itens_fconosco{
	position:relative;
	width: 130px;
	text-align: center;
}
.nav {
position:relative;
left: 50px;
	}
.navbar-default .navbar-nav .open .dropdown-menu>li>a { /* Definições fonte itens da da barra de navegação dispositivo pequenos*/
  color: white;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: black;
    background-color: #b7b7b7;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: black;

}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover { /* Definições blocos com sistemass*/
    color: #555;
    text-decoration: none;
    background-color: #b7b7b7;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  border-color: #a94442;
  background-color: #a94442;
}

div > .testes {   /* Definição distância da palavra questionario para a margem do bloco*/
    padding-top: 0;
}
div > .table-responsive { /* Definição para centralizar tabela na pagina de testes*/
    margin: auto;
}

div > .table-responsive{ /* Definição tamanho da tabela de testes*/
  width: 200px;
}

div > .row {
  padding-top: 10px;  /* Definição tamanho da tabela de testes*/
}

/* -------------------------- Bootstrap Footer -------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #e4801e;
}

.text-muted {
  margin: 10px 0;
  color: black;
  text-align: center;
}
