
.conteudo {/* Definicoes da area de conteudo - todas as paginas*/
	position: relative;
	border: 0px solid green;
	width: 1000px;
	margin: 1px auto;
	height: 640px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
#coluna_lateral {/* Definicoes da largura e altura da coluna lateral no conteudo(partes do animal referente ao sistema selecionado - pagina animais)*/
	background-color: #d5d5d5;
	width: 125px;
	float: left;
	height: 600px;
	position: relative;
	}
.coluna_lista {/* Definicoes da lista na coluna lateral no conteudo(partes do animal referente ao sistema selecionado - pagina animais)*/
	list-style-type: none;
	width: 125px;
	position: relative;
	margin: 0px auto;
	top: 0px;
	}
.coluna_item {/* Definicoes dos itens da lista da coluna lateral no conteudo(partes do animal referente ao sistema selecionado - pagina animais)*/
	position: relative;
	background-color: #e7e7e7;
	text-align: center;
	height: 100px;
	line-height: 100px;
	}
.coluna_item:hover{/* Definicoes para mudanca do fundo quando mouse passar nos itens da lista da coluna lateral no conteudo(partes do animal referente ao sistema selecionado - pagina animais)*/
	background-color: #d5d5d5;
	}
.ativado{  background-color: #d5d5d5; }
.unidade_ativada{
	background-color: #d5d5d5 !important;	
	}



#sistema_conjuntos {/* Definicoes dos conjuntos do sistema selecionado ( ex: ossos, musculos, ligamentos - pagina animais)*/
	background-color: black;
	margin: 0px auto;
	width: 1000px;
	height: 40px;
	border: 0px solid black;
	display: static;
	font-size: 0px;
	position:relative;
	line-height:35px;
	}
#sistema_selecionado {/* Definicoes do div onde descreve o sistema selecionado (ex: sistema esqueletico,sistema digestorio , sistema nervoso) - pagina animais*/
	width: 127px;
	background-color: olive;
	height: 40px;
	text-align: center;
	position: relative;
	float: left;
	font-size:16px;
	}
.sistema_unidade{/* Definicoes de cada conjunto do sistema selecionado ( ex: ossos, musculos, ligamentos - pagina animais) - pagina animais*/
	width: 291px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	float:left;
	background-color: #e7e7e7;
	position: relative;
	text-align: center;
	font-size:16px;
	}
.img_sistema_unidade{/* Definicoes do fundo de cada conjunto do sistema selecionado ( ex: ossos, musculos, ligamentos - pagina animais)*/
	background-color: #e7e7e7;
	}
.img_sistema_unidade:hover{/* Definicoes para quando o mouse passar por cada conjunto do sistema selecionado ( ex: ossos, musculos, ligamentos - pagina animais)*/
	background-color: #d5d5d5;
	}
.album {/* Definicoes do album ( contem a imagem de destaque do album, e o carrousel de imagens do album - pagina animais)*/
	width: 875px;
	display:inline-block;
	position:relative;
	}
.img_destaque{/* Definicoes para area destaque para a imagem selecionada do album ( contem a imagem de destaque do album, e o carrousel de imagens do album - pagina animais)*/
	position:relative;
	display:inline-block;
	width: 875px;
	height: 500px;
	background-color: black;
	text-align: center;

	}
.img_selecionada {/* Definicoes para imagem selecionada do album ( contem a imagem de destaque do album, e o carrousel de imagens do album - pagina animais)*/
	width: 865px;
	height: 490px;
	border: 5px solid black;
	position: relative;
	top: 5px;
	display:inline-block;
	}
.img_album{/* Definicoes para o div do album de imagens ( contem o carrousel de imagens do album e os botoes de rolagem - pagina animais)*/
	width: 875px;
	height: 100px;
	display:block;
	position: relative;
	top: 0px;
	}
.carrousel{/* Definicoes para o carrousel de imagens do album( contem o carrousel de imagens do album - pagina animais)*/
	width: 875px;
	height: 100px;
	display:flex;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	top: 0px;
	background-color: black;
	}
.img_item_album {/* Definicoes para as imagens contidas no carrousel de imagens do album( contem o carrousel de imagens do album - pagina animais)*/
	height: 100px;
	margin-right:5px;
	cursor: pointer;
	}
#side_scroll_button_left{/* Definicoes para botoes de rolagem do carrousel de imagens do album - pagina animais)*/
	position: absolute;
	width: 30px;
	height: 100px;
	left:0px;
	top:0px;
	cursor: pointer;
	z-index:99;
	}
#side_scroll_button_right{/* Definicoes para botoes de rolagem do carrousel de imagens do album - pagina animais)*/
	position: absolute;
	width: 30px;
	height: 100px;
	left: 845px;
	top: 0px;
	cursor: pointer;
	z-index:99;
	}
